@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");


main{
    max-height: 1920px;
}
.landing{
    width: inherit;
}
section{
    border-radius: .5rem;
    background-color: aliceblue;
    color: black;
    margin: 2rem;
    min-width: fit-content;
    height: fit-content;
    padding: 2rem;
}
.c-item{
    height: 650px;
    
}
.c-img{
    height: 100%;
    object-fit: cover;
}
.navigation li a{
    color: white;
}

.footer{
    background-color: rgb(178, 181, 183);
    color: black;
    width: inherit;
}
.icons{
    background-color: rgb(160, 161, 162);
}

 tr th, tr td{
    border: 1px solid black;
    padding: 1rem;
    width: inherit;
    
}
table{
    width: inherit;
}
tr img{
    width: 10rem;
}
.filter{
    background-color: aliceblue; 
}