@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

body{

    max-height: 1920px;
    
    /* width: inherit; */
}
main{
    padding: 2rem;
}


/* Navbar */
.navbar .container-fluid{
    background-color: rgb(160, 161, 162) ;
}
.navbar-nav{
    margin-left: 20rem;
}

.navbar-nav .nav-link:hover{
    /* margin-top: 1rem; */
    background-color: #1f1e1e;
    color: white;
    border-radius: .5rem;
    transform: translateY(-0.5rem);
    transition: top 0.9s;

}
/* landing */
.landing{
    width: inherit;
}
/* Sections */
section{
    border-radius: .5rem;
    background-color: aliceblue;
    color: black;
    /* margin: 2rem; */
    /* width: fit-content; */
    max-width: fit-content;
    height: fit-content;
    padding: 2rem;
}
/* Logo */
img[alt='logo']{
    max-width: 3rem;
    clip-path: circle();
}
/* Carousel */
.c-item{
    height: 650px;
    
}
.c-img{
    height: 100%;
    object-fit:cover;
}

/* Footer */
.footer{
    background-color: rgb(178, 181, 183);
    color: black;
    /* width: inherit; */
}
.icons{
    background-color: rgb(160, 161, 162);
}
/* Admin */
.admin{
    max-width: inherit;
}
 tr th, tr td{
    border: 1px solid black;
    padding: 1rem;
    width: inherit;
    
}
.tbl-container{
    overflow-x: scroll;
    padding: 2rem;
    max-width: 100%;
}
table{
    max-width: 100%;
}
tr img{
    width: 10rem;
}
/* Products */
.filter{
    background-color: aliceblue; 
}
#btn-wishlist{
    padding: 5px;
}

#btn-wishlist:hover::after {
    content: "Add to wish-list"; 
    position: absolute;
    top: 70%; 
    left: 75%; 
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    opacity: 0.8;
    white-space: nowrap; 
  }

  /* Contact */
#contact-modal{
    padding: 0 2rem;
    margin: 3rem 1rem;  
}
form input, form textarea{
    width: 90%;
    border: 1px solid black;
    padding: 15px;
    margin: 15px 0;
    color: #1f1e1e;
    border-radius: 6px;
}
form input#name, form input#mail{
    width: 75%;
}
form button{
    padding: 14px 60px;
    margin-top: 20px;
    cursor: pointer;
}

@media screen and (width<1000px) {
    .navbar-nav{
        margin-left: 0;
    }
}

@media screen and (width<950px) {
    .admin{
        width: fit-content;
    }
    table{
        width: inherit;
    }
}
@media screen and (width<920px) {
    .tbl-image{
        display:none ;
    }
    
}

