@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

body{
    max-height: 1920px;
}
main{
    max-height: 1920px;
}
.landing{
    width: inherit;
}
section{
    border-radius: .5rem;
    background-color: aliceblue;
    color: black;
    margin: 2rem;
    min-width: fit-content;
    height: fit-content;
    padding: 2rem;
}
img[alt='logo']{
    max-width: 3rem;
    clip-path: circle();
}
.c-item{
    height: 650px;
    
}
.c-img{
    height: 100%;
    object-fit: cover;
}
.navigation li a{
    color: white;
}

.footer{
    background-color: rgb(178, 181, 183);
    color: black;
    width: inherit;
}
.icons{
    background-color: rgb(160, 161, 162);
}

 tr th, tr td{
    border: 1px solid black;
    padding: 1rem;
    width: inherit;
    
}
table{
    width: inherit;
}
tr img{
    width: 10rem;
}
.filter{
    background-color: aliceblue; 
}
#btn-wishlist{
    padding: 5px;
}

#btn-wishlist:hover::after {
    content: "Add to wish-list"; /* Add your description here */
    position: absolute;
    top: 70%; /* Position the tooltip below the button */
    left: 75%; /* Center the tooltip horizontally */
    transform: translateX(-50%); /* Adjust the tooltip's horizontal position */
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    opacity: 0.8;
    white-space: nowrap; 
  }

  /* Contact */
#contact-modal{
    /* background-image:linear-gradient(45deg, #838680,#e6e6e6) ; */
    padding: 0 2rem;
    margin: 3rem 1rem;
    
    
}
form input, form textarea{
    width: 90%;
    border: 1px solid black;
    padding: 15px;
    margin: 15px 0;
    color: #1f1e1e;
    border-radius: 6px;
}
form input#name, form input#mail{
    width: 75%;
}
form button{
    padding: 14px 60px;
    margin-top: 20px;
    cursor: pointer;
}
